.container {
  background-color: cornsilk;
}

.inputCol {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.inputBox {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.header-one {
  display: flex;
  justify-content: center;
  background-color: blue;
  color: azure;
}

.initial-p {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  color: azure;
}