.App {
  text-align: center;
  margin: 25px;
}

.header-one {
  text-align: center;
  margin: 25px;
}

.initial-p {
  text-align: center;
  margin: 25px;
}

.filtered-input {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.table {
  text-align: center;
  margin: 25px;
}

.second-p {
  text-align: center;
}